<div class="home">
  <div class="background">
    <%= image_tag("141logo.png", :class => "smalllogo") %> 
    <%= link_to '<button class="shopnow" type="button">SHOP NOW</button>'.html_safe, '/products' %>
    <div class="bancon">
        <%= image_tag("banner.png", :class => "banner") %>
        <p class="text"> Responsible Shopping <br></br>
                        Radical Transformation</p>
    </div>
  </div>
</div>











<div id="home" class="bg_parralax" data-type="background" data-speed="10">
  <div data-center="opacity: 1" data--200-top="opacity: 0" data-anchor-target=".logo2" class="logo">
    <%= link_to image_tag("141logo.png", :class => "logo2"), '/products' %>
  </div>
  <div data-center="opacity: 1" data--20-top="opacity: 0">
    <%= link_to '<button class="shopnow" type="button">SHOP NOW</button>'.html_safe, '/products' %>
  </div>
</div>
<div data-center="opacity: 1" data--500-top="opacity: 0" class="home_content">
  <h1>Welcome to SHOP141</h1><br>
<div data-center="opacity: 1" data--500-top="opacity: 0" class="home_content" style="padding-left: 0px; padding-right: 0px;">
  <p>Shop141 is a marketplace supplying Amazon products that benefit charitable organizations across the country. <!-- When a user comes to the site and makes a purchase, the charity will receive a percentage of the amount as a donation from Amazon. Shoppers looking to give more can also donate the purchase amount of the product to the charity. We like to call that generous act <em>shopping 141. </em> --></p>
</div>
</div>

<div id="about" class="bg_parralax" data-type="background" data-speed="17">
  <div data-center="opacity: 1" data--800-top="opacity: 0" class="layer_content1">
    MAKE A DIFFERENCE WITH EVERY PURCHASE
  </div>
</div>
<div data-center="opacity: 1" data--300-top="opacity: 0" class="about_content">
  <!-- <p>We hope that you will find this site worthwhile and continue shopping with us. If you are a registered nonprofit and Shop141 seems like something you want to get into please <a href="mailto:test@gmail.com">let us know</a>.<br></p>
  <div class="quote">
  <em>"Shop141 has allowed our organization to raise adequate funding to provide our kids with an additional meal per day as they engage in a proven curriculum. A HUGE thanks goes out to all the supporters of Shop141." <br><br>
    <span style="padding-left: 600px;">- Compassion International Director</span></em>
  </div> -->
  <p class="abouttitle">With Shop141 you can choose to...</p>
  <p class="shopdirections">1. "Shop141" to make a donation at the price of your product during checkout</p>
  <p class="shopdirections">2. Purchase normally and see a small portion of your transaction go straight to the associated charity</p>
</div>

<div class="row home-row">
    <div id="conclusion" class="bg_parralax" data-type="background" data-speed="20">
      <div class="layer_content2">
       RESPONSIBLE SHOPPING<br>
       RADICAL TRANSFORMATION
      </div>
      <div class="shopnowbutton">
       <%= link_to '<button class="shopnow" type="button">SHOP NOW</button>'.html_safe, '/products' %>
      </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="js/skrollr.js"></script>
<script src="js/_main.js"></script>

