
<div class="productspage">


  <div class="menu">
    
    <div class="small-5 columns">
      <p class="menulogo"> SHOP141 </p>
    </div>

    <div class="small-7 columns">
      <ul class="menulist">
        <li>ABOUT</li>
        <li>PRODUCTS</li>
        <li>CHARITIES</li>
      </ul>
    </div>

  </div>


  <div class="row toppad">
  </div> 



  <div class="row">
    <div class="cardscontainer">


      <div class="small-5 columns">
        <div class="card">
          <div class="pricediv">
            <p class="price">$90</p>
          </div>
          <div class="productimagediv">
            <%= image_tag("herschel-backpacks-5.jpg", :class => "productimage") %> 
          </div>
          <div class="buttondiv">
            <a href="#" class="button btn141 fa fa-usd"> BUY 141</a>
            <a href="#" class="button btnBUY fa fa-usd"> PURCHASE</a>
          </div>
        </div>
      </div>


      <div class="small-2 columns">
        <!-- padding -->
      </div>

      <div class="small-5 columns">
        <div class="card">
          <div class="pricediv">
            <p class="price">$50</p>
          </div>
          <div class="productimagediv">
            <%= image_tag("whiskey2.jpg", :class => "productimage2") %> 
          </div>
          <div class="buttondiv">
            <a href="#" class="button btn141 fa fa-usd"> BUY 141</a>
            <a href="#" class="button btnBUY fa fa-usd"> PURCHASE</a>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>













<!-- <h1>Shop 141</h1>
	
<table>
  <thead>
  </thead>
    <tr>
    <% @products.each do |product| %>
      
     <tr>
     <td><%= product.name %> <%""%> <%= product.price %></td>
     <td><img width='300' height='300' src=<%= product.img %> </td>
     </tr>
    <% end %>

  </tbody>
</table> -->
