<!-- <div class="row">
  <div class="large-12 columns">
    <h1>This is a row</h1>
  </div>
</div> -->

<div class="scard-page-container">
  <div class="row">


      <div class="large-5 columns lscard">
       <div class="scard-container">
        <div class="scard">
          <div class="spricebox">
            <span class="sprice"> $<span class="spanprice"><%= price = @product.price.split(".")[0].tr('$', '').to_s %></span> <span class="pricespan"><%= @product.charity.name.upcase %> GETS HALF!</span>
            </span>
          </div>

          <div class="scard-inner">
            <img src=<%= @product.img %> class="sproimage" />
          </div>
        </div>
       </div>
      </div>

      <div class="large-7 columns rscard">
       <div class="titlebox">
        <p class="titletext">
          <%= @product.name.upcase %>
        </p>
       </div>
       <div class="desdiv">
        <p class="des">
        This mid-volume backpack is inspired by classic mountaineering and is constructed for modern funcationality.
        </p>
       </div>
       <div class="buybox">
        <%= link_to '<button class="button btnbuys" type="button">PURCHASE</button>'.html_safe, @product.amazonUrl %>
       </div>
       <div class="one4onebox">
                <%= amazon_simple_pay_form_tag do %>
                  <%= hidden_field_tag(:amount, @product.price.tr('$', '').to_f) %>
                  <%= hidden_field_tag 'referenceId', @product.id %>
                  <%= hidden_field_tag 'description', 'something else' %>
                  <button class="button btnone4one" type="submit">BUY 141</button>
          <% end %> 
       </div>
      </div>
  


  </div>
</div>


