<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "SHOP141" %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="home">
    <div class="background">
      <%= image_tag("141logo.png", :class => "logo") %> 

      <div class="bancon">
        <div class="bannerdiv"</div>
          
            <%= image_tag("banner.png", :class => "banner") %>
            <p class="text"> Responsible Shopping </br>
                          Radical Transformation</p>
        </div>
      </div>

<!--         <a href="">  <i class="fa fa-angle-down fa-5x"></i> </a>
 -->
    </div>
  </div>


<div class="productspage">

  <div class="menu">
    
    <div class="small-5 columns">
      <p class="menulogo"> SHOP141 </p>
    </div>

    <div class="small-7 columns">
      <ul class="menulist">
        <li>ABOUT</li>
        <li>PRODUCTS</li>
        <li>CHARITIES</li>
      </ul>
    </div>
  </div>

  <div class="row toppad">
  </div> 

<%= yield %>

</body>
</html>
